
html, body {
  /* remove margins and scroll bars */
  margin: 0;
  background-color: #0A0E20;
  height: 100%;
  overflow: hidden;
}

.label.info {
  font-size: smaller;
}

#scene-container {
 /* tell our scene container to take up the full page */
 width: 100%;
 height: 100%;
 display: block;
 position: relative;

/*
  Set the container's background color to the same as the scene's
  background to prevent flashing on load
*/
background-color: #0A0E20;   

}

.lil-gui {
  --name-width: 35%;
}



.bottom-container {

  opacity: 0.5;
  background-color: #1fe0;  /* fully transparent */  
}

.bottom-container.positioning {
  width: 100%;
  max-height: 40%;
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 1000;
}




.bottom-stats {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px; 
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

ul {
  list-style-type: none;
}

